@use './../mixins' as *;

.header {
  width: 100%;
  height: var(--header-height);
  // background-color: var(--bg);
  background-color: rgba(255, 255, 255, 0);

  box-sizing: border-box;
  will-change: transform;
  padding-top: env(safe-area-inset-top);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  &.header-out {
    pointer-events: none;
  }

  &.html.header-fixed {}

  /* хедер зафиксировался */
  &.html.header-off-top {}

  /* прошли первую секцию */
  &.html.header-at-footer {}

  /* хедер у футера */

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 100%;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 3rem;

    @include md {
      display: none;
    }

    a {

      .header-theme-dark & {
        color: var(--white);
      }

      &:hover {
        color: var(--blue);
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;

      color: var(--white);

      i {
        --font-size: 3rem;
      }
    }
  }
}