@use './../mixins' as *;

.header {
  width: 100%;
  height: var(--header-height);
  // background-color: var(--bg);
  background-color: rgba(255, 255, 255, 0);

  box-sizing: border-box;
  will-change: transform;
  padding-top: env(safe-area-inset-top);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  &.header-out {
    pointer-events: none;
  }

  &.html.header-fixed {}

  /* хедер зафиксировался */
  &.html.header-off-top {}

  /* прошли первую секцию */
  &.html.header-at-footer {}

  /* хедер у футера */

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 100%;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 3rem;

    @include md {
      display: none;
    }

    a {

      .header-theme-dark & {
        color: var(--white);
      }

      &:hover {
        color: var(--blue);
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;

      color: var(--white);

      i {
        --font-size: 3rem;
      }
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: backdrop-filter .3s, background-color .3s, -webkit-backdrop-filter .3s;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    // background-color: rgba(0, 0, 0, .14);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &>svg {
      visibility: hidden;
    }

    &-block {
      z-index: 1 !important;
      overflow: visible !important;
      border-radius: inherit !important;
      box-shadow: none !important;
    }

    &-mask {
      border-radius: inherit;
      padding: 1px;
      background: linear-gradient(180deg, rgba(255, 255, 255, .1), rgb(255, 255, 255) 50%, rgba(255, 255, 255, .1));
      -webkit-mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);
      mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;

      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }
}