.stack-group {
  position: relative;
}

.stack-trigger {
  position: relative;
}

.stack-sticky {
  position: sticky;
  top: 0;
  z-index: var(--z);
  height: 100vh;
  overflow: hidden;
}

.stack-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

/* После стека */
.after-stack {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  font-size: 2rem;
}

/* Футер */
.footer-trigger {
  position: relative;
  height: 100vh;
  /* Заезжаем на контент сверху на 100vh */
  z-index: 2;
}

.footer-sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}